@charset "UTF-8";

a[href="dailyTasks/taskLog.html"] {
	color: black;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	width: 50%;
}

table, td {
	border: 1px solid black;
}

td {
	padding: 5px;
}

.numLbl { width: 10%; }
.ch {width: 60%;}
.sub {width: 30%;}

